html {
  scroll-snap-type: y mandatory !important;
}

.scroll-container {
  /* scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column; */

  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  /* overflow-y: scroll;  */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;

    /* scroll-snap */
    scroll-snap-align: center;
    scroll-snap-stop: normal;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
section#home {
  background: gray;
}

section#portfolio {
  background: black;
}

section#service {
  background: gray;
}

section#contact {
  background: black;
}


  /* ToDO: Test it on laptops! */

@media screen and (max-width: 600px) {
  section {
    scroll-snap-align: none;
  }
}



.navbar{
    padding-left: 0 !important;
      padding-right: 0 !important;
      color: white !important;
      position: fixed;
      top: 0;
      z-index: 1;
      display: flex;
      width: 100%;
  }